{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block body %}

<div class="container col-4">
<h2>Add Discontinued Student</h2>
<p>Fill form and submit to add a discontinued student.</p>
<br><br>
    <form method="POST">


      <div class="form-group row">
			  <label class="col-4 col-form-label" for="name">Name</label>
			  <div class="col-8">
				<select style="width:100%;" id="name" name="name" class="form-control select2" required>
				  <option value="" >Select Name</option>
				  {% for alumini in aluminis %}
            <<option value="{{alumini.id}}">{{alumini.name}}</option>
          {% endfor %}

				</select>

			  </div>
			</div>


  <br>



  <div class="form-group row">
    <label class="col-4 col-form-label" for="batch">Batch</label>
    <div class="col-8">
    <select style="width:100%;" id="batch" name="batch" class="custom-select rounded ">
    <option value="" >Select Batch</option>
    {% for batch in batches %}
      <<option value="{{batch.name}}">{{batch.name}}</option>
    {% endfor %}

    </select>
    </div>
  </div>


  <br>


  <div class="form-group row">
    <div class=" col-8">
    <button name="submit" type="submit" value="old" class="btn btn-primary">Add Student</button>

    <a class="btn btn-primary" href="/manage/student/add">Back</a>
    </div>
  </div>
  </form>
</div>

{% endblock %}
